/* regole generali  */
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  color:#fff;
  text-align: center;
  font-family: sans-serif;
}
img {
  width: 150px;
  max-height: 100%;
}
.container {
  background: grey;
  min-height: 740px;
  width: 100%;
}
.container_2 {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin:auto;
}
h3 {
  font-size: 15px;
}

/* regole header & logo  */
header {
  max-height: 50px;
  background: black;
}
.logo {
  width: 60%;
  margin:auto;
  display: flex;
  justify-content: flex-start;
}
.logo img {
  width: 50px;
}
select,option {
  width: 150px;
  color:#000;
  text-align: center;
  margin:20px;
}
/* regole box */

.box {
  background: black;
  width: 26%;
  border: 1px solid #fff;
  margin: 20px auto;
  min-height: 300px;
}
.box * {
  margin:10px 0;
}

/* dettagli box album  */

.author p{
  color:grey;
}
.year p {
  font-size: 12px;
}
